<%- include("./header"); -%>
   <main class="float-end p-3 position-relative">
        <div class="breadcrumb"><h1>Users</h1></div>
        <div class="main">
            <div class="actions">
                <a href="/auth/register"><button class="btn btn-primary">+ Add New</button></a>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Created</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i = 0; i < admins.length; i++){%>
                        <% if(!admins[i].is_active){%>
                            <tr class="bg-danger" title="Deactivated user">
                            <th><%= i+1 %></th>
                            <td><%= admins[i].email %></td>
                            <td>
                                <% if(admins[i].is_super_admin ){%>
                                    Super Admin
                                <%}else{%>
                                    Admin
                                <%}%>
                            </td>
                            <td><%= admins[i].createdAt.toDateString() %></td>
                            <td>
                                <div class="dropdown">
                                    <span class="btn" id="dropdownBtn" data-bs-toggle="dropdown" aria-expanded="false">⁝</span>
                                <ul class="dropdown-menu" aria-labelledby="dropdownBtn">
                                    <li class="dropdown-item"><a href="/auth/forgot-password?email=<%= admins[i].email %>">Reset password</a></li>
                                    <% if(admins[i].is_active){%>
                                        <% if(!admins[i].is_super_admin){%>
                                            <li class="dropdown-item"><a href="/users/<%= admins[i]._id %>/deactivate">Deactivate User</a></li>
                                        <%} %>
                                    <%}else{%>
                                        <li class="dropdown-item"><a href="/users/<%= admins[i]._id %>/activate">Activate User</a></li>
                                    <%} %>
                                      <li class="dropdown-item"><a href="/users/<%= admins[i]._id %>/delete" class="text-danger" data-user="<%= admins[i]._id %>">Delete user</a></li>
                                </ul>
                                </div>
                            </td>
                        </tr>
                        <%}else{%>
                                       <tr>
                            <th><%= i+1 %></th>
                            <td><%= admins[i].email %></td>
                            <td>
                                <% if(admins[i].is_super_admin ){%>
                                    Super Admin
                                <%}else{%>
                                    Admin
                                <%}%>
                            </td>
                            <td><%= admins[i].createdAt.toDateString() %></td>
                            <td>
                                <div class="dropdown">
                                    <span class="btn" id="dropdownBtn" data-bs-toggle="dropdown" aria-expanded="false">⁝</span>
                                <ul class="dropdown-menu" aria-labelledby="dropdownBtn">
                                   <li class="dropdown-item"><a href="/auth/forgot-password?email=<%= admins[i].email %>">Reset password</a></li>
                                    <% if(admins[i].is_active){%>
                                        <% if(!admins[i].is_super_admin){%>
                                            <li class="dropdown-item"><a href="/users/<%= admins[i]._id %>/deactivate">Deactivate User</a></li>
                                             <li class="dropdown-item"><a href="#" class="text-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" onclick="deleteUser('<%= admins[i]._id %>')">Delete user</a></li>
                                        <%} %>
                                    <%}else{%>
                                        <li class="dropdown-item"><a href="/users/<%= admins[i]._id %>/activate">Activate User</a></li>
                                    <%} %>
                                </ul>
                                </div>
                            </td>
                        </tr>
                       <% } %>
                    <%} %>
                </tbody>
            </table>
            <div class="pagination">
        <ul class="px-0">
          <% if(page > 1){%>
          <a href="?page=<%= page - 1 %>"
            ><li class="float-start p-2 border-end">Prev</li></a
          >
          <% } %> <% for(let i = 0; i < Math.ceil(count / limit); i++){%>
          <a href="?page=<%= i +1 %>"
            ><li class="float-start p-2 px-3 border-end"><%= i +1 %></li></a
          >
          <%} %> <% if(Math.ceil(count / limit) > 1 && Math.ceil(count / limit)
          != Number(page)){%>
          <a href="?page=<%= Number(page) + 1 %>"
            ><li class="float-start p-2">Next</li></a
          >
          <% } %>
        </ul>
      </div>
        </div>
   </main>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete User</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this user?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <a href="" id="deleteBtn"><button type="button" class="btn btn-danger">Delete</button></a>
      </div>
    </div>
  </div>
</div>
   <script src="/js/script.js"></script>
   <script>
        function deleteUser(id){
            document.getElementById("deleteBtn").href = `/users/${id}/delete`;
        }
    </script>
</body>
</html>