<%- include("partials/header"); -%>
<script src="js/lib/chart.min.js"></script>
<div class="container wow fadeIn pt-3" id="container ">
  <div class="canvas-container">
    <canvas id="myChart"></canvas>

    <canvas id="reports"></canvas>
  </div>

  <h3>Recent</h3>
  <div class="recent" style="display: flex; flex-wrap: wrap">
    <% if(recent.length){%> <% for(var i = 0; i < recent.length; i++){%>
    <a href="/records/<%= recent[i]._id %>">
      <div
        style="margin: 7px; background: rgba(255, 255, 255, 0.95); color: #000a"
      >
        <div
          class="section"
          style="
            box-shadow: 0 0 10px 0.2px rgba(0, 0, 0, 0.1);
            border: none;
            padding: 10px;
          "
        >
          <img
            src="data:<%= recent[i].image.contentType%>;base64 ,<%= recent[i].image.buffer.toString('base64') %>"
            alt=""
            class="img-thumbnail"
          />
          <div class="details" style="padding: 10px">
            <p><strong>Name:</strong> <span><%= recent[i].name%></span></p>
            <p>
              <strong>Matric NO:</strong>
              <span><%= recent[i].matric_number%></span>
            </p>
          </div>
        </div>
      </div>
    </a>
    <%}%> <% }else{ %>
    <p>Nothing to show</p>
    <%} %>
  </div>

  <h3>Top offenders</h3>
  <div class="recent" style="display: flex; flex-wrap: wrap">
    <% if(top.length){%> <% for(var i = 0; i < top.length; i++){%>
    <a href="/records/<%= top[i]._id %>">
      <div
        style="margin: 7px; background: rgba(255, 255, 255, 0.95); color: #000a"
      >
        <div
          class="section"
          style="
            box-shadow: 0 0 10px 0.2px rgba(0, 0, 0, 0.1);
            border: none;
            padding: 10px;
          "
        >
          <img
            src="data:<%= top[i].image.contentType%>;base64 ,<%= top[i].image.buffer.toString('base64') %>"
            alt=""
            class="img-thumbnail"
          />
          <div class="details" style="padding: 10px">
            <p><strong>Name:</strong> <span><%= top[i].name%></span></p>
            <p>
              <strong>Matric NO:</strong>
              <span><%= top[i].matric_number%></span>
            </p>
          </div>
        </div>
      </div>
    </a>
    <%}%> <% }else{ %>
    <p>Nothing to show</p>
    <%} %>
  </div>
</div>
<script src="js/dashboard.js"></script>
<%- include("partials/footer"); -%>
