<%- include("partials/header"); -%>
<link rel="stylesheet" href="/css/records.css">
<div class="container-fluid">
    <div class="all" style="display: flex;flex-wrap: wrap;">
        <% for(var i = 0; i < cases.length; i++){%>
        <a href="/dashboard/<%= cases[i]._id %>">
            <div style="margin: 7px;background: rgba(255, 255, 255, 0.95);color:#000a;">
                <div class="section" style="box-shadow: 0 0 0.8px #000a;border: none;">
                    <img src="<%= cases[i].image.url %>" alt="" class="img-thumbnail">
                    <div class="details" style="padding: 10px;">
                        <p>
                            <strong>Name:</strong> <span><%= cases[i].name%></span>
                        </p>
                        <p>
                            <strong>Matric NO:</strong> <span><%= cases[i].matric_number%></span>
                        </p>
                    </div>
                </div>
            </div>
        </a>
        <%}%>
  </div>
</div>

<%- include("partials/footer"); -%>