<%- include("partials/header"); -%>
<link rel="stylesheet" href="/css/records.css" />
<div class="container">
  <div class="filter d-flex">
    <a href="/report"
      ><button class="d-bock btn btn-primary mt-2">
        <i class="fas fa-plus"></i> Add New
      </button></a
    >
    <form action="">
      <select name="filter" id="filter">
        <option value="">None</option>
        <option value="open">Open</option>
        <option value="closed">Closed</option>
      </select>
      <input type="date" name="from" id="from" />
      <span> to </span>
      <input type="date" name="to" id="to" />
      <button class="btn-secondary">
        <i class="fas fa-filter"></i> Filter
      </button>
    </form>
  </div>
  <div class="all" style="display: flex; flex-wrap: wrap">
    <% if(cases.length){%> <% for(var i = 0; i < cases.length; i++){%>
    <a href="/records/<%= cases[i]._id %>">
      <div
        style="margin: 7px; background: rgba(255, 255, 255, 0.95); color: #000a"
      >
        <div
          class="section"
          style="
            box-shadow: 0 0 10px 0.2px rgba(0, 0, 0, 0.1);
            border: none;
            padding: 10px;
          "
        >
          <% if(cases[i].image.contentType){%>
          <img
            src="data:<%= cases[i].image.contentType%>;base64 ,<%= cases[i].image.buffer.toString('base64') %>"
            alt=""
            class="img-thumbnail"
          />
          <%}else{%>
          <img src="/img/user.png" alt="" class="img-thumbnail" />
          <%} %>
          <div class="details" style="padding: 10px">
            <p><strong>Name:</strong> <span><%= cases[i].name%></span></p>
            <p>
              <strong>Matric NO:</strong>
              <span><%= cases[i].matric_number%></span>
            </p>
          </div>
        </div>
      </div>
    </a>
    <%}%> <% }else{ %>
    <p>Nothing to show</p>
    <%} %>
  </div>
  <hr />
  <div class="pagination">
    <ul class="px-0">
      <% if(page > 1){%>
      <a href="?page=<%= page - 1 %>"
        ><li class="float-start p-2 border-end">Prev</li></a
      >
      <% } %> <% for(let i = 0; i < Math.ceil(count / limit); i++){%>
      <a href="?page=<%= i +1 %>"
        ><li class="float-start p-2 px-3 border-end"><%= i +1 %></li></a
      >
      <%} %> <% if(Math.ceil(count / limit) > 1 && Math.ceil(count / limit) !=
      Number(page)){%>
      <a href="?page=<%= Number(page) + 1 %>"
        ><li class="float-start p-2">Next</li></a
      >
      <% } %>
    </ul>
  </div>
</div>

<%- include("partials/footer"); -%>
