<%- include("partials/header"); -%>
<link rel="stylesheet" href="/css/records.css" />
<div class="container-fluid">
  <div class="filter">
    <form action="">
      <select name="filter" id="filter">
        <option value="">None</option>
        <option value="open">Open</option>
        <option value="closed">Closed</option>
      </select>
      <input type="date" name="from" id="from" />
      <span> to </span>
      <input type="date" name="to" id="to" />
      <button>Filter</button>
    </form>
  </div>
  <div class="all" style="display: flex; flex-wrap: wrap">
    <% if(cases.length){%> <% for(var i = 0; i < cases.length; i++){%>
    <a href="/dashboard/<%= cases[i]._id %>">
      <div
        style="margin: 7px; background: rgba(255, 255, 255, 0.95); color: #000a"
      >
        <div
          class="section"
          style="
            box-shadow: 0 0 10px 0.2px rgba(0, 0, 0, 0.1);
            border: none;
            padding: 10px;
          "
        >
          <img
            src="data:<%= cases[i].image.contentType%>;base64 ,<%= cases[i].image.buffer.toString('base64') %>"
            alt=""
            class="img-thumbnail"
          />
          <div class="details" style="padding: 10px">
            <p><strong>Name:</strong> <span><%= cases[i].name%></span></p>
            <p>
              <strong>Matric NO:</strong>
              <span><%= cases[i].matric_number%></span>
            </p>
          </div>
        </div>
      </div>
    </a>
    <%}%> <% }else{ %>
    <p>Nothing to show</p>
    <%} %>
  </div>
</div>

<%- include("partials/footer"); -%>
